* {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0px;
}

nav ul {
    background-color: pink;
    height: 40px;
    list-style: none;
    display: flex;
    position: sticky;
    top: 0px;
}

ul li {
    margin: auto 0px;
    padding: 0px 25px;
}

.container {
    background-color: green;
    height: 550px;
    text-align: center;
}

.box {
    display: inline-block;
    height: 350px;
    width: 250px;
    background-color: pink;
    margin: 80px 50px;
}

.para {
    height: 200px;
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: aqua;
}

.para p {
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}
.icon{
    background-color: orange;
    padding: 20px;
    height: 50px;
    width: 50px;
    border-radius: 70px;
    text-align: center;
    position: fixed;
    bottom: 90px;
    right: 20px;
}