*{
    margin: 0;
    padding: 0;
}
.box{
    color: rgb(180, 222, 52);
}
.box1{
    background-color: rgb(18, 18, 223);
    padding: 100px;
    margin: 25px;
    border: 2px solid rgb(226, 24, 105);
    height: 200px;
    box-sizing: border-box;
}
.box2{
     background-color: rgb(64, 138, 118);
    padding: 100px;
    margin: 35px;
    border: 2px solid rgb(83, 31, 52);
    height: 200px;
    box-sizing: border-box;
}