.fruit{
    color: rgb(85, 196, 21);
}
#apple{
    background-color: brown;
}
#banana{
    background-color: rgb(18, 240, 240);
}
#mango{
    background-color: rgb(115, 139, 115);
}
#grapes{
    background-color: rgb(66, 132, 132);
}